contourpy==1.3.3
cycler==0.12.1
filelock==3.29.0
fonttools==4.63.0
fsspec==2026.4.0
importlib_resources==7.1.0
kiwisolver==1.5.0
matplotlib==3.11.1
mpmath==1.3.0
networkx==3.6.1
nibabel==5.4.2
numpy==2.4.6
pandas==3.0.5
pillow==12.3.0
pyparsing==3.3.2
pytest==9.0.2
PyYAML==6.0
scipy==1.17.1
setuptools==78.1.0
sympy==1.14.0
torch==2.13.0+cpu
typing_extensions==4.16.0
